<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mundos-listado"></ion-back-button>
    </ion-buttons>
    <ion-title>Información del Mundo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div style="margin-top: 20px;">
    <img src="https://cdn-icons-png.flaticon.com/512/606/606548.png" style="width: 100px;">
    <p style="font-weight: bold; color: #666;">Información de Mundo de Minecraft</p>
  </div>

  <ion-list mode="md" style="margin-bottom: 20px;">
    <ion-item lines="full">
      <ion-label>
        <p>ID Interno</p>
        <h2 style="font-weight: bold;">{{ mundo.id }}</h2>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        <p>Nombre</p>
        <h2 style="font-weight: bold;">{{ mundo.nombre }}</h2>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        <p>Semilla (Seed)</p>
        <h2 style="font-weight: bold;">{{ mundo.semilla }}</h2>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        <p>Dificultad</p>
        <h2 style="font-weight: bold;">{{ mundo.dificultad }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="mundo.biomas && mundo.biomas.length > 0">
    <ion-list-header style="font-size: 1.1em; color: #2dd36f; font-weight: bold; margin-top: 15px; text-align: left;">
      BIOMAS DESCUBIERTOS
    </ion-list-header>
    <ion-item *ngFor="let bioma of mundo.biomas" lines="inset">
      <ion-icon name="leaf-outline" slot="start" color="success"></ion-icon>
      <ion-label class="ion-text-left">
        <h2>{{ bioma.nombre }}</h2>
        <p>Temperatura: {{ bioma.temperatura }}°C</p>
      </ion-label>
    </ion-item>
  </div>

  <div *ngIf="mundo.jugadors && mundo.jugadors.length > 0" style="margin-top: 20px;">
    <ion-list-header style="font-size: 1.1em; color: #3880ff; font-weight: bold; text-align: left;">
      JUGADORES EN ESTE MUNDO
    </ion-list-header>
    <ion-item *ngFor="let jugador of mundo.jugadors" lines="inset">
      <ion-avatar slot="start">
        <img [src]="'https://avatar.iran.liara.run/public/boy?username=' + jugador.username" />
      </ion-avatar>
      <ion-label class="ion-text-left">
        <h2 style="font-weight: bold;">{{ jugador.username }}</h2>
        <p>Experiencia: {{ jugador.nivel_xp }} XP</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-note *ngIf="(!mundo.biomas || mundo.biomas.length === 0) && (!mundo.jugadors || mundo.jugadors.length === 0)" style="display: block; margin-top: 20px;">
    No hay datos registrados en este mundo.
  </ion-note>

</ion-content>