<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mobs-listado" color="success" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="mc-toolbar-title">MOBS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="mob">
  <!-- Cabecera Principal -->
  <div class="mc-detail-header" [style.border-left]="mob.es_hostil ? '6px solid #c0392b' : '6px solid #2a7a4a'">
    <div class="mc-header-container">
      <p class="mc-overline">BESTIARIO</p>
      <h1 class="mc-main-title">{{ mob.tipo }}</h1>
    </div>
  </div>

  <!-- Bloques de Información -->
  <div class="mc-info-grid">
    <div class="mc-info-block block-white">
      <p class="mc-info-label" [style.color]="mob.es_hostil ? '#c0392b' : '#2a7a4a'">COMPORTAMIENTO</p>
      <p class="mc-info-value">{{ mob.es_hostil ? 'HOSTIL' : 'PASIVO' }}</p>
    </div>
    
    <div class="mc-info-block block-grey">
      <p class="mc-info-label">BIOMA HABITUAL</p>
      <p class="mc-info-value">{{ mob.bioma?.nombre || 'Desconocido' }}</p>
    </div>

    <div class="mc-info-block block-dark-grey">
      <p class="mc-info-label">TEMPERATURA DEL BIOMA</p>
      <p class="mc-info-value">{{ mob.bioma?.temperatura || 0 }}°C</p>
    </div>

    <div class="mc-info-block block-white" style="margin-top: 15px;">
      <p class="mc-info-label">ID ENTIDAD</p>
      <p class="mc-info-value">#{{ mob.id }}</p>
    </div>
  </div>

</ion-content>

<ion-content *ngIf="!mob" class="ion-padding">
  <p style="text-align: center; color: #666;">Cargando bestiario...</p>
</ion-content>