<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inventarios-listado" color="success" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="mc-toolbar-title">INVENTARIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="registro">
  <!-- Cabecera Principal -->
  <div class="mc-detail-header">
    <div class="mc-header-container">
      <p class="mc-overline">DETALLES DE POSESIÓN</p>
      <h1 class="mc-main-title">{{ registro.item?.nombre || 'Objeto Desconocido' }}</h1>
    </div>
  </div>

  <!-- Bloques de Información -->
  <div class="mc-info-grid">
    <div class="mc-info-block block-white">
      <p class="mc-info-label">CANTIDAD</p>
      <p class="mc-info-value">{{ registro.cantidad }}</p>
    </div>
    
    <div class="mc-info-block block-grey">
      <p class="mc-info-label">PROPIETARIO</p>
      <p class="mc-info-value">{{ registro.jugador?.username }} (Nvl. {{ registro.jugador?.nivel_xp || 0 }})</p>
    </div>

    <div class="mc-info-block block-dark-grey">
      <p class="mc-info-label">DAÑO DEL ÍTEM</p>
      <p class="mc-info-value">{{ registro.item?.puntos_ataque || 0 }}</p>
    </div>

    <div class="mc-info-block block-white">
      <p class="mc-info-label">ES APILABLE</p>
      <p class="mc-info-value">{{ registro.item?.es_apilable ? 'SÍ' : 'NO' }}</p>
    </div>
  </div>

</ion-content>