<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()" color="success">
        <ion-icon name="close-outline" style="font-size: 24px; font-weight: 800;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mc-toolbar-title">ÍTEMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mc-section-header">
    <h1 class="mc-title">{{ soloLectura ? 'DETALLES' : (id ? 'EDITAR' : 'NUEVO') }}<br>ÍTEM</h1>
    <div class="mc-divider"></div>
  </div>

  <div class="ion-padding">
    <form [formGroup]="itemForm" (ngSubmit)="guardarDatos()">
      
      <div class="mc-form-group">
        <label class="mc-label">NOMBRE DEL ÍTEM</label>
        <ion-input type="text" formControlName="nombre" class="mc-input-field" placeholder="Ej. Pico de Diamante"></ion-input>
      </div>

      <div class="mc-form-group">
        <label class="mc-label">PUNTOS DE ATAQUE</label>
        <ion-input type="number" formControlName="puntos_ataque" class="mc-input-field"></ion-input>
      </div>

      <div class="mc-form-group">
        <label class="mc-label">¿ES APILABLE?</label>
        <ion-select formControlName="es_apilable" interface="popover" placeholder="Seleccionar..." class="mc-select-field">
          <ion-select-option [value]="1">SÍ, ES APILABLE</ion-select-option>
          <ion-select-option [value]="0">NO, ES ÚNICO</ion-select-option>
        </ion-select>
      </div>

      <div class="mc-form-actions" *ngIf="!soloLectura">
        <button type="submit" 
                [disabled]="!itemForm.valid"
                class="mc-btn btn-primary">
          {{ id ? 'GUARDAR CAMBIOS' : 'CREAR ÍTEM' }}
        </button>

        <button type="button" (click)="cerrar()" class="mc-btn btn-danger">
          CANCELAR
        </button>
      </div>
    </form>
  </div>
</ion-content>