<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()" color="success">
        <ion-icon name="close-outline" style="font-size: 24px; font-weight: 800;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mc-toolbar-title">INVENTARIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Cabecera de Formulario -->
  <div class="mc-section-header">
    <h1 class="mc-title">{{ soloLectura ? 'DETALLES' : (id ? 'EDITAR' : 'NUEVO') }}<br>INVENTARIO</h1>
    <div class="mc-divider"></div>
  </div>

  <div class="ion-padding" *ngIf="soloLectura">
    <!-- Bloques de Información -->
    <div class="mc-info-grid">
      <div class="mc-info-block block-white">
        <p class="mc-info-label">ID INTERNO</p>
        <p class="mc-info-value">{{ id }}</p>
      </div>
      
      <div class="mc-info-block block-grey">
        <p class="mc-info-label">JUGADOR</p>
        <p class="mc-info-value">{{ formulario.id_jugador_nombre || 'No asignado' }}</p>
      </div>

      <div class="mc-info-block block-dark-grey">
        <p class="mc-info-label">ÍTEM / OBJETO</p>
        <p class="mc-info-value">{{ formulario.id_item_nombre || 'No asignado' }}</p>
      </div>

      <div class="mc-info-block block-white" style="margin-top: 15px;">
        <p class="mc-info-label">CANTIDAD TOTAL</p>
        <p class="mc-info-value">{{ formulario.cantidad }}</p>
      </div>
    </div>
  </div>

  <div class="ion-padding" *ngIf="!soloLectura">
    <div class="mc-form-group">
      <label class="mc-label">SELECCIONAR JUGADOR</label>
      <ion-select [(ngModel)]="formulario.id_jugador" interface="popover" placeholder="Jugador..." class="mc-select-field">
        <ion-select-option *ngFor="let j of listaJugadores" [value]="j.id">{{ j.username || j.nombre }}</ion-select-option>
      </ion-select>
    </div>

    <div class="mc-form-group">
      <label class="mc-label">SELECCIONAR ÍTEM</label>
      <ion-select [(ngModel)]="formulario.id_item" interface="popover" placeholder="Ítem..." class="mc-select-field">
        <ion-select-option *ngFor="let i of listaItems" [value]="i.id">{{ i.nombre }}</ion-select-option>
      </ion-select>
    </div>

    <div class="mc-form-group">
      <label class="mc-label">CANTIDAD</label>
      <ion-input type="number" [(ngModel)]="formulario.cantidad" class="mc-input-field"></ion-input>
    </div>

    <div class="mc-form-actions">
      <button (click)="guardarDatos()" class="mc-btn btn-primary">
        {{ id ? 'ACTUALIZAR ASIGNACIÓN' : 'GUARDAR ASIGNACIÓN' }}
      </button>

      <button (click)="cerrar()" class="mc-btn btn-danger">
        CANCELAR
      </button>
    </div>
  </div>
</ion-content>