<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mobs-listado" color="success" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="mc-toolbar-title">MOBS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mc-section-header">
    <h1 class="mc-title">{{ id ? 'EDITAR' : 'NUEVO' }}<br>MOB</h1>
    <div class="mc-divider"></div>
  </div>

  <div class="ion-padding">
    <form [formGroup]="mob" (ngSubmit)="guardarDatos()">
      
      <div class="mc-form-group">
        <label class="mc-label">TIPO DE MOB</label>
        <ion-input type="text" formControlName="tipo" class="mc-input-field" placeholder="Ej. Creeper"></ion-input>
        <div *ngFor="let validation of mensajes_validacion.tipo">
          <p class="mc-error-msg" *ngIf="getError('tipo')[(validation.type)]">
            {{ validation.message }}
          </p>
        </div>
      </div>

      <div class="mc-form-group">
        <label class="mc-label">¿ES HOSTIL?</label>
        <ion-select formControlName="es_hostil" interface="popover" class="mc-select-field">
          <ion-select-option *ngFor="let op of opcionesHostil" [value]="op.id">
            {{ op.label }}
          </ion-select-option>
        </ion-select>
      </div>

      <div class="mc-form-group">
        <label class="mc-label">BIOMA</label>
        <ion-select formControlName="id_bioma" interface="popover" placeholder="Seleccionar bioma..." class="mc-select-field">
          <ion-select-option *ngFor="let bioma of biomas" [value]="bioma.id">
            {{ bioma.nombre }}
          </ion-select-option>
        </ion-select>
      </div>

      <div class="mc-form-actions">
        <button type="submit" 
                [disabled]="!mob.valid"
                class="mc-btn btn-primary">
          ACEPTAR
        </button>

        <button *ngIf="id" type="button" (click)="alertEliminar(id)" class="mc-btn btn-danger" style="background:#ffdada; border-bottom:4px solid #c0392b;">
          ELIMINAR
        </button>
      </div>
    </form>
  </div>
</ion-content>