<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mundos-listado" color="success" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="mc-toolbar-title">MUNDOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Cabecera de Formulario -->
  <div class="mc-section-header">
    <p class="mc-overline">
      <ion-icon name="earth-outline"></ion-icon> CONFIGURACIÓN INICIAL
    </p>
    <h1 class="mc-title">NUEVO MUNDO</h1>
  </div>

  <div class="ion-padding">
    <form [formGroup]="mundoForm" (ngSubmit)="guardarDatos()">
      
      <div class="mc-form-group">
        <label class="mc-label">NOMBRE DEL MUNDO</label>
        <ion-input type="text" formControlName="nombre" class="mc-input-field" placeholder="Ej. Mi Aventura"></ion-input>
      </div>

      <div class="mc-form-group">
        <label class="mc-label">SEMILLA (SEED)</label>
        <ion-input type="text" formControlName="semilla" class="mc-input-field" placeholder="123456789"></ion-input>
      </div>

      <div class="mc-form-group">
        <label class="mc-label">DIFICULTAD</label>
        <ion-select formControlName="dificultad" interface="popover" placeholder="Seleccionar..." class="mc-select-field">
          <ion-select-option *ngFor="let d of dificultades" [value]="d.id">
            {{ d.nombre }}
          </ion-select-option>
        </ion-select>
      </div>

      <div class="mc-form-actions">
        <button type="submit" 
                [disabled]="!mundoForm.valid"
                class="mc-btn btn-primary">
          CREAR MUNDO
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </button>

        <button type="button" (click)="cerrar()" class="mc-btn btn-danger">
          CANCELAR
        </button>
      </div>
    </form>
  </div>
</ion-content>