<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jugadores-listado" color="success" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="mc-toolbar-title">JUGADORES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="jugador">
  <!-- Cabecera Principal -->
  <div class="mc-detail-header">
    <div class="mc-header-container">
      <p class="mc-overline">PERFIL DEL JUGADOR</p>
      <h1 class="mc-main-title">{{ jugador.username }}</h1>
    </div>
  </div>

  <!-- Bloques de Información -->
  <div class="mc-info-grid">
    <div class="mc-info-block block-white">
      <p class="mc-info-label">NIVEL XP</p>
      <p class="mc-info-value">{{ jugador.nivel_xp || 0 }}</p>
    </div>
    
    <div class="mc-info-block block-grey">
      <p class="mc-info-label">FECHA DE UNIÓN</p>
      <p class="mc-info-value">{{ jugador.fecha_union | date:'mediumDate' }}</p>
    </div>
  </div>

  <!-- Sección de Mundos -->
  <div class="mc-biomas-section">
    <div class="mc-section-title-container">
      <h2 class="mc-section-title">MUNDOS EXPLORADOS</h2>
      <div class="mc-title-line"></div>
    </div>

    <div class="mc-biomas-list">
      <div *ngIf="jugador.mundos && jugador.mundos.length > 0; else noMundos">
        <div *ngFor="let mundo of jugador.mundos" class="bioma-item">
          {{ mundo.nombre }}
        </div>
      </div>
      <ng-template #noMundos>
        <p class="empty-msg">No ha explorado ningún mundo.</p>
      </ng-template>
    </div>
  </div>

  <!-- Sección de Mochila -->
  <div class="mc-players-section">
    <div class="mc-section-title-container">
      <h2 class="mc-section-title">MOCHILA</h2>
      <div class="mc-title-line"></div>
    </div>

    <div class="mc-players-list">
      <div *ngIf="jugador.inventarios && jugador.inventarios.length > 0; else noMochila">
        <div *ngFor="let inv of jugador.inventarios" class="player-item" style="display: flex; justify-content: space-between; align-items: center;">
          <span>{{ inv.item?.nombre || 'Item Desconocido' }}</span>
          <span style="color: #2a7a4a; font-size: 0.8rem; font-weight: 800;">CANT: x{{ inv.cantidad }} | DAÑO: {{ inv.item?.puntos_ataque || 0 }}</span>
        </div>
      </div>
      <ng-template #noMochila>
        <p class="empty-msg" style="color: #666; font-style: italic;">La mochila está vacía.</p>
      </ng-template>
    </div>
  </div>

</ion-content>

<ion-content *ngIf="!jugador" class="ion-padding">
  <p style="text-align: center; color: #666;">Sincronizando...</p>
</ion-content>